.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.header-items {
  margin-right: 10%;
  list-style-type: square;
  list-style: none;
}
.header-items:hover {
  font-style: italic;
}
